# Ignore build directories
Animator/
Audiodrivers/
Carnivores 2/
Carnivores Ice Age/
CarnivoresPatched/
CarnView/
ModdersEdition/
Build/
.vscode/
*.ninja
*.vcxproj*
*.sln
*.exe
*.dll
*.pdb
*.7z
Backup/
Docs/
